@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    transition: all 0.3s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.Primary-btn {
     background: linear-gradient(135deg, #0077b6, #00b4d8);

}
.label {
    font-size: 0.875rem;      
    font-weight: 500;      
}
.input-field {
  margin-top: 0.25rem;     
  margin-bottom: 0.25rem;     
  display: block;            
  width: 100%;                

  padding-left: 0.75rem;        
  padding-right: 0.75rem;
  padding-top: 0.5rem;         
  padding-bottom: 0.5rem;

  border-width: 1px;          
  border-style: solid;
  border-color: #d1d5db;      

  border-radius: 0.375rem;      
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}


.input-field:focus {
  outline: none;                
  border-color: #6366f1;        
  box-shadow: 
    0 0 0 1px #6366f1,          
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}